<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>basic1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C006319F1E5B9A9F0049CC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00631B01E5B9A9F0049CC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00631BB1E5B9A9F0049CC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
